/* $Id */
/* forum */
/*------------------------------------------------------------------------
 * FORUM POSTS
 *-----------------------------------------------------------------------*/
 /* Common post classes */

.forum-post {
  clear: both;
  width: 99%;
  float: left;
  position: relative;
}

.forum-wrapper-left {
  float: left;
  width: 23%;
  overflow: hidden;
}

.forum-wrapper-right {
  float:left;
  overflow: hidden;
  width: 76.8%;
}
.with-picture {
  min-height: 225px;
}

.without-picture {
  min-height: 145px;
}

.forum-post ul,
.forum-post li {
  margin:0;
  padding:0;
  list-style:none;
}

.forum-post .content,
.forum-post-reply .content {
  float: left;
  clear: left;
  padding: .5em 1em;
  overflow:hidden;
  width:96%;
}

.forum-post .meta-post {
  float: left;
  clear: left;
  text-align: right;
  padding: .25em 1em;
  width: 96.5%;
  overflow:hidden;
}


.forum-post-reply .meta-post {
  float: left;
  clear: left;
  padding: .25em 1em;
  width: 96%;
  overflow:hidden;
}

.forum-post div.links {
  float: left;
  clear: both;
  width:100%; /* width required for IE */
}

.forum-post ul.links {
  padding: 0;
  margin:0;
}

.forum-post ul.links li {
  float: left;
  padding: 0px 5px;
}

.clear {
  clear:both;
}

/* Top Posts Only */

.forum-post-top .meta-post li.date {
  text-align:right;
}

/* Replies only */

.forum-post-reply {
  clear:both;
  float:left;
}

.forum-post-reply .meta-post li {
  float:left;
}

.forum-post-reply .meta-post li.date {
  text-align:left;
  width: 75%;
}

.forum-post-reply .meta-post li.comment-link {
  text-align:right!important;
  width: 25%;
}

/* Reply/Comment Form */
.forum-reply-form {
  clear:both;
  float:left;
  position:relative;
}


/* -------------------------------------------------------------------------
 * Forum Posts
 * ---------------------------------------------------------------------- */
 .forum-post,
.forum-post-reply {
  border: solid 1px #bbb;
  margin-bottom: 1em;
}

.forum-wrapper-right {
  border-left:solid 1px #bbb;
}

.forum-post-reply h2.title {
  border-bottom:solid 1px #B3b3b3;
  background: #B3B3B3 url('../images/bg-shade-medium.png') repeat-x bottom left;
  padding: 2px 5px;
  margin: 0;
  font-size:1.3em;
  color:#fff!important;
}

.forum-post-reply h2.title a {
  color:#fff!important;
}

.forum-post .meta-post {
  background:#eee;
  border-bottom:solid 1px #bbb;
}

.forum-post .meta-author ul {
  padding:5px;
}

.user-status-online span {
  background: #fff url('img/icons/user.png') no-repeat left center;
  padding: 0px 0 2px 20px;
}

.user-status-offline span {
  background: #fff url('img/icons/user_gray.png') no-repeat left center;
  padding: 0px 0 2px 20px;
}

.forum-post div.links {
  border-top:solid 1px #B3b3b3;
  background: #fff url('img/bg-shade-light.png') repeat-x bottom left;
  line-height: 32px;
  height: 32px;
}

/* topic list table */
#forum td,
#forum th {
  padding:5px;
  vertical-align:top;
}

#forum td,
#forum td:hover,
#forum td.active,
#forum td:active:hover {
  background:#fff;
}

#forum td.container a {
  font-weight:700;
}