/* $Id */
/*
riebel_content.css

defines how special content is displayed

*/

/* GRAFISCH ABGEHOBEN*/
div#floatclearer {
	clear: both;
	height: 10px;
	color: white;
}
	
/* main content formatting */
div#contentwrapper2 {
	margin: 0 auto;
	padding-top: 20px;
	}
	
div#maincontent {
	float: left;
	background: #F8F8F8 url('img/riebel_maincontentbg.gif') repeat-y top left;
	width: 610px;
	}
	
.firstm {
	background: url('img/riebel_maincontenttopbg.gif') no-repeat top left;
	}
	
.lastm {
	background: url('img/riebel_maincontentbottombg.gif') no-repeat bottom left;
	}
	
div#contentwrapper2 p {
	line-height: 24px;
	}

	
	
div#maincontent ul li {
	list-style-image: url('img/riebel_listdot.gif');
	line-height: 12px;
	padding-bottom: 12px;
	padding-left: 5px;
	}
	

	
/* site wide content formatting */

/* ENDE GRAFISCH ABGEHOBEN */


.pr_inhalt
{
padding: 10px;
margin: 5px;

}


.pr_bg_dunkel
{
color: #ffffff;
background-image: url('img/riebel_inhalt_bg_black.png');
background-repeat: repeat-x;
background-color: #010101;
border:1px solid #d9d9d9;
}

.pr_bg_hell
{
color: #001;
background-image: url('img/riebel_inhalt_bg_hell.png');
background-repeat: repeat-x;
background-color: #919191;
border:1px solid #6c6c6c;
}

.copyright
{
background-color: #000000;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #444850;
height: 30px;
color: #686e7a;
font-size: 10px;
padding-top: 5px;
text-align: center;
}

.wichtig
{
background-color: #ffeeee;
border-width: 1px;
border-style: solid;
border-color: #ffcccc;
padding: 0.5em;
margin-bottom: 0.5em;
}

.pictureincontent {
/* here you can set where the users picture should be displayed in the nodes (try float:right;)
float:left;
*/
margin: auto;
}