/* $Id */
/*\ IE/Win min height hack */ 
* html .FooterContain { height: 320px; background: #31363E;} /* */ 
.FooterContain { width: 100%; /* set min-width for IE */ min-width: 100%; /* sets min-width value for all standards-compliant browsers */
 background: #31363E; clear: both; /*min-height: 370px;*/ margin-top: 1em; padding: 12px 0px 0px 0px; border-top: 4px solid #3D4249; overflow:hidden;}

.Footer {width:100%; margin: 0 auto; color: #E6E6E6; clear: both; font-size:12px;} 
.Footer h2 { font-size: 20px; letter-spacing: -1px; font-weight: normal; color: #E6E6E6; padding: 15px 0px 10px 0px; margin: 0px; border-bottom: solid 5px #484E56; } 

.Footer ul { padding: 0px; margin: 20px 0px; border-top: dashed 1px #484E56; } 
.Footer li, .Footer .item-list ul li { background: url(img/riebel_foot_bullet.gif) no-repeat left; margin: 0px; padding: 5px 0px 6px 15px; list-style-type: none; border-bottom: dashed 1px #484E56; display: block;  } 
.Footer li small { font-size: 10px; color:#5e7d8c;} 

.Footer li a { color: #E6E6E6; }
.Footer li a:visited { color: #E6E6E6; }
.Footer li a:hover { color: #E3E3E3; }


/* Footer left shows a item ideal for new comments*/
.FooterLeft{ float: left; width: 300px; }
.FooterLeft h2 { background: url(img/riebel_neukommentar.gif) no-repeat left center; padding-left: 30px;}

/* Footer in the middle shows an item which is also good for showing whats new on this site */
.FooterMiddle { float: left; width: 300px; margin: 0px 22px;}
.FooterMiddle h2 { background: url(img/riebel_neuundgut.gif) no-repeat left center; padding-left: 30px;}

/*Footer Right shows an top arrow which can be used for active topics or high rated content */
.FooterRight{float: left; width: 300px;}
.FooterRight h2 { background: url(img/riebel_aktiv.gif) no-repeat left center; padding-left: 30px;}

.Footer .block { margin: 0; }



/* taskbar - always displayed bar at the bottom */
.taskbar{z-index:100; position:fixed; bottom:0; BACKGROUND:url(img/taskbar-bg.png);  min-width:995px; height:35px}
.nvtl{cursor:default}
.nvtl ul{margin:0; padding:0; line-height:30px}
.nvtl LI{margin-right:2px; display:block; float:left; BACKGROUND:url(img/taskbar-menu-orb.png) repeat-x bottom}
.nvtl LI A{display:block; float:left; text-decoration:none; width:45px; height:35px; text-align:center}
.nvtl LI A:hover{color:#fff; BACKGROUND:url(img/taskbar-menu-orb.png); background-position:0 0px}
.nvtl li:hover{BACKGROUND:url(img/taskbar-menu-orb.png); background-position:0 0px}
.nvtl span{visibility:hidden}
.nav{background:transparent; display:inline; font-size:12px}
.nav ul{margin:0; padding:0; line-height:30px}
.nav LI{margin:5px 0 5px 0; margin-right:2px; display:block; float:left; BACKGROUND:url(img/taskbar-menu-button.jpg) repeat-x 50% bottom}
.nav LI A{cursor:default; color:#fff; display:block; float:left; text-decoration:none; width:71px; height:30px; text-align:center}
.nav LI A:hover{color:#fff; BACKGROUND:url(img/taskbar-menu-button.jpg); background-position:0 -60px}
.nav li:hover{BACKGROUND:url(img/taskbar-menu-button.jpg); background-position:0 -60px}

.breadcrumbintaskbar {
font-size: 18px;
padding-top:7px;
/*float:right;*/
}

/* links on the taskbar*/

#taskbarlinks{background:transparent; display:inline; font-size:12px;line-height:30px}
#taskbarlinks li a{cursor:default; color:#fff; display:block; float:left; text-decoration:none; width:71px; height:30px; text-align:center}
#taskbarlinks li.active a,#taskbarlinks li a:hover{color:#fff; BACKGROUND:url(img/taskbar-menu-button.jpg); background-position:0 -60px}
#taskbarlinks li{margin:5px 0 5px 0; margin-right:2px; display:block; float:left; BACKGROUND:url(img/taskbar-menu-button.jpg) repeat-x 50% bottom}