/* $Id */
/* header span*/

#header {
/*height:120px;*/
height:100px;
background: url(img/riebel_top_dark.png);
background-repeat: repeat-x;
}
/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/
#headershadow {
height:18px;
background: url(img/riebel_top_shadow.png);
background-repeat: repeat-x;
}
#headerInner {
position: absolute;
width: 960px;
height:115px;
margin: 0;
}

#headerInnerBlock {
position: absolute;
width: 220px;
height:50px;
float:right;
margin-top: 30px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 770px;
color: #FFF;
}

#headerInnerTabs {
position: absolute;
width: 350px;
margin-top: 64px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

* html #headerInnerTabs{ /*IE only. Add 1em spacing between menu and rest of content*/
margin-bottom: 2px;
}


/* logo, text logo, and slogan */

#siteName {
  font-family:"trebuchet ms", helvetica, sans-serif ;
  color: #fff;
  font-size: 42px;
  text-transform: lowercase;
  display: inline;
  line-height: 45px;
  margin-left: 15px;
}

#siteSlogan {  
  font-family:"trebuchet ms", helvetica, sans-serif ;

  margin:1px 0 0 20px;
  color: #eee;
  font-size: 15px;
  white-space:nowrap;
  text-transform: lowercase;
}

#siteName a {
  color:#fff;
  text-decoration:none;
}

#siteName a:hover {
  color:#ddd;
  text-decoration:none;
}

#logo {
  float: left;
  margin:35px 0 0 0;
}

#prlogo {
	width:306px;
	height:75px;
	float:left; 
	/*position:relative;*/
	margin-left:25px;
	top:6px;
	background:url(img/riebel_logo.png) no-repeat;
	cursor: pointer;
}

#logo img {
  float: left;
  border: 0;
}


/* navigation links */

#navigation{position:absolute;right:0px;top:-5px;}
#navigation li a{background:#fff url(img/riebel_menu.gif) no-repeat 0 100%;color:#2d373f;display:block;font-weight:700;margin:0 3px;padding:5px 0;text-align:center;width:90px;}
#navigation li.active a,#navigation li a:hover{color:#2b76af;padding-top:12px;text-decoration:none;}
#navigation li{float:left; list-style:none;}


/*- Menu Tabs H--------------------------- */

    #tabsH {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
      }
    #tabsH ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
      }
    #tabsH li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsH a {
      float:left;
      background:url("img/riebel_tab_left.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsH a span {
      float:left;
      display:block;
      background:url("img/riebel_tab_right.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsH a span {float:none;}
    /* End IE5-Mac hack */
    #tabsH a:hover span {
      color:#FFF;
      }
    #tabsH a:hover {
      background-position:0% -42px;
      }
    #tabsH a:hover span {
      background-position:100% -42px;
      }


	  #tabsH_on a {
	        background-position:0% -42px;
	  }
	  
	  #tabsH_on a span{


			      background-position:100% -42px;
	  }
	  
	  
	 #tabsH_off  {
	       
	  }