/* $Id */
/*
riebel_comment.css

defines how the comments are displayed

*/

/* comments layout */

.user-signature{
	color:#999;
	border-top:1px dotted #999999;
}


.commentboxavatar {
	width:64px;
	height:64px;
	background:url(img/riebel_avatar.jpg) no-repeat;
}



/* neues style */

.comment {
background:#F7F7F7;
border:1px solid #EEEEE9;
margin:0 0 30px;
padding:20px;
}

.comment-left {
float:left;
width:80px;
}

.comment-right {
float:right;
width:480px;
}

.comment-meta {
background:transparent url(img/bg-comment-meta.png) no-repeat scroll left bottom;
padding:0 0 20px;
}

.comment-author {
font-size:14px;
font-weight:bold;
}

/* the title of the current comment*/
.comment-title {
font-size:14px;
font-weight:bold;
padding-left:100px;
}

.comment-text {
background:#FFFFFF none repeat scroll 0 0;
border-color: #EEEEE9 #EEEEE9;
border-style:none solid solid;
border-width:medium 1px 1px;
padding:10px;
}

/* the id-number of the current comment displayed in light grey */
.comment-id {
float:right;
font-size:28px;
color:#BBBBBB;
}

.clearfix 
{
display: inline-block;
}

