/*

riebel_sidebar.css

defines the sidebars how they look like

*/


/* begin sidebarLeft */
#sidebarLeft {
width: 180px;
background: url(img/riebel_sidebar.gif) repeat-y top left;
float: left;
margin: 0em 1em 0.5em 0.5em;
color: #B9B9B9;
}

#sidebarLeft .title {
  margin:0;
  padding: 0;
}

.sidebarLeft-content {
padding: 0 15px 0 5px;
text-align: justify;
}

#sidebarLeft span#topspan {
display: block;
height: 10px;
width: 180px;
margin: 0;
padding: 0;
background: #fff url(img/riebel_sidebar_top.gif) no-repeat top left;
}

#sidebarLeft span#bottomspan {
display: block;
height: 10px;
width: 180px;
margin: 0;
padding: 0;
background: #fff url(img/riebel_sidebar_bottom.gif) no-repeat top left;
}
	
#sidebarRight {
  width: 180px;
  float: right;
}
	
#sidebarRight .title {
margin-bottom: -20px;
height: 35px;
background-image: url(img/riebel_sidebarspace_180.gif);
background-repeat: no-repeat;
}

#sidebarRight h3 {
  border:none;
}

#sidebarLeft #block-comment-0 div.item-list ul,
#sidebarLeft #block-similar-0 div.item-list ul,
#sidebarLeft #block-block-3 div.item-list ul { list-style-type:none; margin:0; padding:0; }

#sidebarLeft #block-comment-0 div.item-list ul li,
#sidebarLeft #block-similar-0 div.item-list ul li,
#sidebarLeft #block-block-3 div.item-list ul li { list-style-type:none; margin:0; border-bottom: 1px solid #394559; text-align:left; }

#sidebarLeft #block-comment-0 div.item-list ul li a,
#sidebarLeft #block-similar-0 div.item-list ul li a,
#sidebarLeft #block-block-3 div.item-list ul li a { display: block; padding:2px 10px 5px 10px; text-decoration: none; color:#b9b9b9; }

#sidebarLeft #block-comment-0 div.item-list ul li a:hover,
#sidebarLeft #block-similar-0 div.item-list ul li a:hover,
#sidebarLeft #block-block-3 div.item-list ul li a:hover { background:#353b44; }

#sidebarLeft #block-comment-0 div.item-list ul li a span,
#sidebarLeft #block-similar-0 div.item-list ul li a span,
#sidebarLeft #block-block-3 div.item-list ul li a span { display:block; }

#sidebarLeftZwei {
  width: 180px;
  float: left;
  padding-left:2px;
}
	
#sidebarLeftZwei .title {
  margin:0;  
  padding:0 0 3px 18px;   
  border-bottom:1px solid #e9e6d8; 
}

#sidebarLeftZwei h3 {
  border:none;
}

