/* $Id */
/*
riebel_form.css

defines how forms are displayed

Searchbutton
submitbutton
textarea
pager
poll

*/



#search-button
{
	text-indent: -9999px;
	border: 0px;
	height: 20px;
	width: 20px;
    margin-left:5px;
   padding: 1px 0 2px 0;
   
	background-color: transparent;
    background:url('img/riebel_search.gif') no-repeat left top;
    cursor: pointer;
}

#search-button:hover {
/*border: 1px solid gray;*/
}

/*input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus*/
.form-submit:hover
{
border-width: 1px;
border-style: solid;
border-color: #005189;

}

.form-textarea:focus, .form-text:focus
{
	background-color: #fffbe7;
}

textarea, input {
border-width: 1px;
border-style: solid;
border-color: #cfdde6;
/*padding: 0.5em;*/

}

.form-submit, .form-button{
	margin-bottom: 1px;
	cursor: pointer;
	padding: 2px 10px;
	color: #666666;
	font-weight: normal;
	font-size: 12px;
	border: solid 1px #888888;
	background: url(img/riebel_button.gif) repeat-x center;

}

.form-submit:hover, .form-button:hover {
	color: #000000;
	border: solid 1px #666666;
	background: url(img/riebel_button-hover.gif) repeat-x center;

}

#pager {
  clear:both;
  padding:30px 0px 10px 0;
}
/* START PAGER / PAGINATION */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.pager{
padding: 2px;
}

.pager ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pager interface*/
font-size: 16px;
}

.pager li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pager a, .pager a:visited{
padding: 0 5px;
border: 1px solid #FFFFFF;
text-decoration: none; 
color: #2e6ab1;
}

.pager a:hover, .pager a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: #FFFF80;
}

.pager a.currentpage{
background-color: #2e6ab1;
color: #FFF;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}

.pager a.disablelink, .pager a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pager a.prevnext{
font-weight: bold;
}

/* END PAGER / PAGINATION */


/* POLL START*/
.poll .bar .foreground 
{
background-color: #2b76af;
}
/* POLL END*/