/* $Id */

/* Main container styles */
* {
  margin: 0;
  padding: 0;
}

body {
font: normal 0.8em "Trebuchet MS", sans-serif;
line-height: 1.6em;
color: #666666;
width:995px;
border-right-width:2px;
border-right-style:solid;
border-left-width:2px;
border-left-style:solid;
border-color: #000;
margin: 0 auto;
/* make site align left. moved to theme settings file*/
/*float: left; */ 

/*background image: moved to theme settings file*/
/*background: url('img/riebel_bg_bars_blue.png');*/

background-attachment:fixed;
}


/* 3 columns and primary content layout */
#columns {
  position: relative;
  float: left;
  padding-right: 0em;
}

#columns h2 {
  font-size:18px;
  margin:10px 0 5px 0;
}
	



/* node and basic text attributes */

h1,h2,h3,h4,h5,h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	letter-spacing: -1px;
}
h1,h2,h3 {
	font-size:1.6em;
}
h4,h5,h6 {
	font-size:1.5em;
}
h5 {
	margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #539FCF;
}

a:hover {
  text-decoration: underline;
  color:#539FCF;
}

.content {
  min-height:80px; /* set min height so one row only nodes wont corrupt the display of the avatar */
  margin-top:15px;
  clear: both;
}

.content p {
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 1em;
}

.node {
  margin: 0 0 1em 0;
  min-height:100px; /* von MD*/
}

.node ul, .node ol {
  margin: 1em 3em 1em 3em;
  line-height: 1.5em;
}
.node ul{
  margin: 1em 3em 1em 0;
}

.node ul li{
  padding: 0 0 0 3em;
  background:url('img/riebel_custombullet.gif') 19px 5px no-repeat;
}

* html .node ul li{
   height:10px;
}

#comment-form div.form-item{
   clear:both;
   padding:10px 6px;
   background:#FAF8F5;
   border:1px solid #f4f2eb;
}

* html #comment-form div.form-item{
   height:1px;
}

div.picture{
	 float:left; 
	 margin:0 0 0 0;
   padding:5px;
}

div.picture a{
   display:block;
	 width:auto;
	 height:auto;
   padding:1px;
   border:1px solid #A0B2BC;
}

.nodeimg {
   padding:3px;
   border:1px solid #A0B2BC;
}

div.picture a:hover{   
   border:1px solid #31353E;
}

div.picture a img{
   display:block;   
}

.nodeTitle, .pageTitle {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: normal;
  padding: 5px 0px 3px 0px;
  line-height: 25px;
  clear:left;  
}

.nodeTitle, .pageTitle{   
	padding : .25em;
	margin-bottom: .25em;

}

div#comments h2.title{   
   padding:10px 0 10px 40px;
   width:400px;   
}

.nodeTitle a {
  color:#3C4E55;
}

.nodeTitle a:hover {
  text-decoration: none;
  color:#2596D0;
  border-bottom: 1px dotted #2596D0;
}

.submitted {
  background: url(img/riebel_user.gif) no-repeat;
  background-position: 2px 3px;
  padding:3px 0 3px 20px;
  color:#999;
  font: normal 11px arial;
  margin:0 0 0 3px; 
  float: left;
}

.linkswrap {
  background-color: #e2eff8;
  padding: 5px;
  margin-bottom: 3em;
}

.service-links {
text-align: left;
background-color: #ededed;
background-image: url(img/riebel_grey_bg.png);
background-repeat: repeat-x;
border-width: 1px;
border-style: solid;
border-color: #dddddd;
margin-top: 10px;
margin-right: 0pt;
margin-left: 0pt;
padding: 8px;
}

.postlinks {
  background-image: url(img/riebel_comment.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
  padding: 1px 0 0 20px;
  margin: .4em 0;
}

.taxonomy {
  background-image: url(img/riebel_posted.gif);
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
  padding: 1px 0 0 20px;
  margin: .4em 0;
}
	
ul.links {
  list-style-type: none;
  margin: 0;  
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  margin: 0 0.2em;
  padding:0;
  background-image:none;
}

/* von MD*/
ul {
list-style: none;
}


	
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

/* other styles */


.clearme{
   clear:both;
   height:1em;
   font-size:1%;
}

dt {
  font-size:14px;
  font-weight:bold;
  margin:10px 0 5px 0;
}


.block {
  margin: 10px 0 20px 0;
}

.messages {
  background:#FFFFDA;
  margin: 5px 0 5px 0;
  padding: 10px;
}





/* table styles */

table {
  width: 100%;
}

thead th {
  border-bottom: 2px solid #AAAAAA;
  color: #494949;
  font-weight: bold;
}

td, th {
  padding: .3em 0 .5em 0;
}



tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

.box {
	clear: both;
	margin-top: 1.5em;
}

.form-text, .form-submit, .form-textarea, .form-item {
margin-top:        6px;
margin-bottom:     4px;
}





.node blockquote {background: #f4f4f4 url('img/riebel_bquote1.gif') no-repeat 0% 0%; padding: 20px 0 0 40px; margin: 1em 30px;}
.node blockquote p {background: url('img/riebel_bquote2.gif') no-repeat;background-position:bottom right; padding: 0 40px 20px 0;}





/*ADDED FOOTER STUFF */











#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 200px 0 190px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
min-height: 600px;

}

#leftcolumn{
float: left;
width: 190px; /*Width of left column*/
margin-left: -100%;
}

#rightcolumn{
float: left;
width: 200px; /*Width of right column*/
margin-left: -200px; /*Set left marginto -(RightColumnWidth)*/

}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

#maincontainer{
/*
margin: 0 auto;
overflow:hidden;
*/
background-color: #FFFFFF;

}




/* MD */
tr.even, tr.odd, tbody th {
border:1px dotted #999999;

}

tr.even {
  background-color: #F1F1F1;
}

tr.odd {
  background-color: #f9f4e6;
}

td.odddunkler {
  background-color: #e3dcca;
}

td.evendunkler {
  background-color: #E1E1E1;
}

tr.odd td.active {
  /*background-color: #f9f4e61;*/
  background-color: #F9F4E6;
}

tr.even td.active {
  /*background-color: #F1F1F11;*/
  background-color: #F1F1F1;
}




div#maincontent p,h1,h2,h3,ul {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
}


.rubrik {
  background: url(img/riebel_posted.gif) no-repeat;
  background-position: 2px 3px;
  padding:3px 0 3px 20px;
  color:#999;
  font: normal 11px arial;
  margin:0 0 0 0; 
  float: right;
}

.rubrik_rechts {
  background: #F8F8F8 url(img/riebel_posted.gif) no-repeat;
  background-position: 2px 3px;
  padding:3px 0 3px 20px;
  color:#999;
  font: normal 11px arial;
  margin:0 0 0 0; 
  float: left;
}



/* Tagadelic default example stylesheet **/
.tagadelic:hover {
  text-decoration:none;background-color:#FFFF80;
}

.vonwemklein {
  color:#777;
  font: normal 11px arial;
  margin:0 0 0 3px; 
  float: left;
}

#mission {
background-color: #FFFFDA;
border-width: 1px;
border-style: solid;
border-color: #EEEEED;
padding: 0.5em;
margin-bottom: 0.5em;
}

